<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>RatVantage</vendor>
  <vendor_url>https://github.com/daredoole/RatVantage</vendor_url>
  <action id="org.ratvantage.LegionControl1.read">
    <description>Read Legion hardware capabilities</description>
    <message>Authentication is required to read Legion hardware capabilities.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-platform-profile">
    <description>Set Legion platform profile</description>
    <message>Authentication is required to change the Legion platform profile.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
