<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>RatVantage</vendor>
  <vendor_url>https://github.com/daredoole/RatVantage</vendor_url>
  <action id="org.ratvantage.LegionControl1.read">
    <description>Read RatVantage hardware capabilities</description>
    <message>Authentication is required to read RatVantage hardware capabilities.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-platform-profile">
    <description>Set the RatVantage platform profile</description>
    <message>Authentication is required to change the RatVantage platform profile.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-battery-charge-type">
    <description>Set the RatVantage battery charge type</description>
    <message>Authentication is required to change the RatVantage battery charge type.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-led-state">
    <description>Set a RatVantage LED state</description>
    <message>Authentication is required to change a RatVantage LED state.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-keyboard-rgb">
    <description>Set RatVantage keyboard lighting</description>
    <message>Authentication is required to change the RatVantage keyboard lighting.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-ideapad-toggle">
    <description>Set a RatVantage device toggle</description>
    <message>Authentication is required to change a RatVantage device toggle.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-gpu-mode">
    <description>Set GPU mode with EnvyControl</description>
    <message>Authentication is required to change GPU mode with EnvyControl.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-cpu-governor">
    <description>Set the RatVantage CPU governor</description>
    <message>Authentication is required to change the RatVantage CPU governor.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-cpu-epp">
    <description>Set the RatVantage CPU energy preference</description>
    <message>Authentication is required to change the RatVantage CPU energy preference.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-cpu-max-frequency">
    <description>Set the RatVantage CPU frequency cap</description>
    <message>Authentication is required to change the RatVantage CPU frequency cap.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-firmware-attribute">
    <description>Set a RatVantage firmware power limit</description>
    <message>Authentication is required to change a RatVantage firmware power limit.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-cpu-boost">
    <description>Set RatVantage CPU boost</description>
    <message>Authentication is required to change RatVantage CPU boost.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-conservation-mode">
    <description>Set RatVantage battery conservation mode</description>
    <message>Authentication is required to change RatVantage battery conservation mode.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-amd-gpu-dpm-force-level">
    <description>Set AMD GPU DPM force level</description>
    <message>Authentication is required to change the AMD GPU DPM force level.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-wifi-power-save">
    <description>Set Wi-Fi power save</description>
    <message>Authentication is required to change Wi-Fi power save.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.set-curve-optimizer">
    <description>Set AMD Curve Optimizer offset</description>
    <message>Authentication is required to change the AMD Curve Optimizer offset.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.setup-openrgb-access">
    <description>Set up OpenRGB keyboard RGB device access</description>
    <message>Authentication is required to add OpenRGB keyboard RGB device access.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.ratvantage.LegionControl1.apply-hardware-profile">
    <description>Apply RatVantage hardware profile</description>
    <message>Authentication is required to apply a RatVantage hardware profile.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
