[D-BUS Service]
Name=org.ratvantage.LegionControl1
Exec=/usr/libexec/legion-control/legion-control-daemon
User=root
SystemdService=legion-control-daemon.service
